// ------------------------------------
// BaseKit Baseplate: LESS > Typography
// ------------------------------------

// Font Swatch Relations
// ---------------------

// Font 1:  Heading 1
// Font 2:  Heading 2
// Font 3:  Heading 3
// Font 4:  Heading 4
// Font 5:  Paragraph
// Font 6:  Navigation Link
// Font 7:  Buttons
// Font 8:  Feature Headline
// Font 9:  Feature Strapline
// Font 10: Company Name (Logo)



// -----------------------------
// Typography
// -----------------------------


// Headings
// -------------------------


.company-link {
	color: #3a3a3a;
}

h1 {
	color: #3a3a3a;
}

h2 {
	color: #3a3a3a;
}

h3 {
	color: #3a3a3a;
}

h4 {
	color: #3a3a3a;
}


#footer h1 {
	color: #ffffff;
}

#footer h2 {
	color: #ffffff;
}

#footer h3 {
	color: #ffffff;
}

#footer h4 {
	color: #ffffff;
}

#prize h1 {
	color: #ffffff;
}

#prize h2 {
	color: #ffffff;
}

#prize h3 {
	color: #ffffff;
}

#prize h4 {
	color: #ffffff;
}



// Normal Text
// ---------------------------------------


body {
    color: #3a3a3a;
}

p {
	color: #3a3a3a;
	padding-bottom: 1em;
}

#footer body {
    color: #ffffff;
}

#footer p {
	color: #ffffff;
	padding-bottom: 1em;
}

#prize body {
    color: #ffffff;
}

#prize p {
	color: #ffffff;
	padding-bottom: 1em;
}


// Anchor links

.widget__content a {
	color: @color__link--text;
}

.widget__content a {
	color: @color__link--text;
}

#footer a {
	color: #ffffff;
}

#prize a {
	color: #ffffff;
}

// Blockquotes
blockquote {
	margin: 20px 0;

	&:before {
		margin-right: 10px;
		font-size: 32px;
		color: @color__primary;
		display: inline-block;
	    float: left;
	}
}
