<div class="container">

    <!-- Container -->
    <!-- Page Content -->
    <section class="template-content">

        <!-- Main Widet Zone -->
        {{zone()|raw}}
        
        {{widget('content', 'aup', {
          content: '
          <p><span style="font-weight: 400;">Important: It is a condition of use of this website that all users comply fully with the rules set out in this AUP (in addition to the End User Terms, Member Terms and any other applicable terms and conditions). In this AUP, references to “we” or “us” mean Capen Limited, operating as Zaffo (a company registered in England and Wales (company number 8141955), an external lottery manager (certificate number 000036257R317724001) whose registered office is at B55, The Ugli&nbsp;Building, 56 Wood Land, London, W12 7SB. References to “you” mean any individual who accesses the Website.</span></p>
    <ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Abide by the law. You must not use the Website or any material included on the Website for any purpose that is illegal or unlawful.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">User Content. You must ensure that any information which you transmit to or using Website, including suggestions, ideas or other material (referred to as “User Content“) is legal, honest, decent and truthful. Specifically, you must not use the Website to copy, transmit, distribute or store User Content which is obscene, pornographic, lewd, threatening, abusive, libellous, hateful,offensive or encourages or amounts to conduct that would constitute a criminal offence or that might bring The Society or any party associated with it into disrepute. Each of the above prohibitions including posting link(s) that take users to material that contravenes any of them. All rights in any material submitted to the Website shall become our sole property and we shall have the right to use that content in perpetuity, throughout the world, in all known and discovered mediums and for all purposes and we shall have the right to make it available to the public on the Website and otherwise.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Respect the property of others. You must ensure that the User Content is owned by you and that you have the right to submit the User Content to us for publication. You must not use the Website to copy, transmit, distribute or store User Content where this would infringe our intellectual property rights or the intellectual property rights of any third party.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Respect the privacy of others. You must not use the Website to collect, store, transmit, transfer or publish personal data which relates to other people (whether or not they are other users of the services) unless you have their consent to do so.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Do not harm computer systems. You must not use the Website to harm or disrupt any computer device or network belonging to us or any third party, for example, by uploading or distributing content infected by a virus or other malicious code. Furthermore, you must not use the Website for the purpose of obtaining unauthorised access to any computer or service. Where you use the Website to send information across other networks on the Internet, you must abide by acceptable use policies which may apply to the use of such networks.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Personal use. Where you are an individual End User of the Website, you agree to use the Website for your personal noncommercial use in accordance with the End User Terms only and you further agree not use the services on behalf of any other person or resupply or distribute the services to any other person.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Emails. You must not use the Website to send emails which would typically be categorised as ‘spam’ or ‘junk’ by other users. Such emails would include chain or pyramid emails (whether or not initiated by you), advertising or marketing emails, bulk or unsolicited emails (especially of a commercial nature), malicious emails, including, but not limited to, ‘mail bombing’, emails with forged headings or anonymous emails. You must not send emails to a person without their consent (which also applies to any automated service that may have been employed) and you must not use the Website to provide anonymous remailing facilities for others.</span></li>
</ol>
<p><b>ENFORCEMENT</b></p>
<p><span style="font-weight: 400;">It is not our practice to monitor your use of the Website. However; we retain the right to monitor use of the Website and we may take any action we deem appropriate in relation to any breach of this AUP including removing postings of User Content (including details of prizes and user pages) and suspending or terminating access to the Website. To report a breach of this AUP please send an email to us </span><a href="mailto:support@zaffo.com"><span style="font-weight: 400;">support@zaffo.com</span></a><span style="font-weight: 400;"> describing the breach.</span></p>
' })|raw}}
        
    </section>
    <!-- End Page Content -->
 </div>   

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->

{% include "includes/footer.twig" %}
