<!-- Footer -->
<footer class="template-footer fullbg">

	<div class="container">
        <span style="color:white;">Copyright 2017 © Zaffo. All rights reserved. powered by Zaffo</span>
	</div>

</footer>
<!-- End Footer -->