<!-- Footer -->
<footer class="template-footer fullbg">

	<div class="container">
        <span style="color:white;">Copyright 2019 © My Club Draw. All rights reserved. Powered by Zaffo</span>
	</div>

</footer>
<!-- End Footer -->