<!-- Section: Hero 1 -->
<div class="hero  hero-header--1">

	<!-- Header -->
	<header class="header  header--transparent  header--1">
		<div class="container">
			<div class="row  row--sb  row--aic">

<div class="header__item  header__item--logo">
					<div id="page-zones__template-widgets__logo-site-logo" class="widget  widget--template-widget" data-widget-type="logo" data-uniqueid="page-zones__template-widgets__logo-site-logo">

                    
        
<div class="bk-logo  logo  widget__logo" itemscope="" itemtype="https://schema.org/Organization">

    <a href="/home" class="logo-link  logo__logo-link" itemprop="url">

                <img class="logo-image  logo__logo-image" alt="logo" title="logo" src="//d1se4t4tzjp7kt.cloudfront.net/ea2c1ef/templates/8cf8fb6202085fb25e2b70eb39b70d84/images/mcdlogo.png" itemprop="logo">

    </a>

</div>

</div>

				</div>

				<div class="header__item  header__item--navigation">
					<nav class="site-nav">
						<ul class="site-nav__list">
							<li class="nav-list__item">
								<a href="/about" target="_blank" class="nav-list__link  {% if page.title == "ABOUT US" %}  nav-list__link--selected{% endif %}">More about My Club Draw</a>
							</li>
							<li class="nav-list__item">
								<a href="/faq-player" target="_blank" class="nav-list__link  {% if page.title == "FAQ PLAYER" %}  nav-list__link--selected{% endif %}">FAQ Player</a>
							</li>
							<li class="nav-list__item">
								<a href="/results" target="_blank" class="nav-list__link  {% if page.title == "RESULTS" %}  nav-list__link--selected{% endif %}">Results</a>
							</li>
							<li class="nav-list__item">
								<a href="/news" target="_blank" class="nav-list__link  {% if page.title == "NEWS" %}  nav-list__link--selected{% endif %}">News</a>
							</li>							
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>


	<!-- Feature -->
	{{widget('feature', 'header-hero1-feature2', {
		'header': 'Win up to £25,000 in our weekly lottery!',
		'strapline': 'Grassroots sports clubs across the UK have teamed up with i-Giv. to offer an innovative online lottery that helps them raise much needed funds. There are incredible weekly cash prizes up for grabs and at least 50% of proceeds from every ticket sold goes directly to clubs, so play now!',
		'defaultBgImg': asset('images/pat99.jpg'),
		'showBtn': true,
		'buttonText': 'CHOOSE A SPORTS CLUB TO BENEFIT',
		'action': 'internal',
		'url': '#play'
	})|raw}}


</div>