
        <div class="background-image  feature__background-image" style="background-image: url('//cdn2.hubspot.net/hubfs/2153327/1.jpg'); background-position: center 0%">
            <div id="outdated"></div>
            <div class="bk-feature  feature  widget__feature">
			</div>
            <div class="container">
                <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns base">
                    <div class="bk-zone column columns-two-left space">
                        <h2 class="headline  feature__headline">{{widget('content', 'headline',{ content: 'YOU COULD WIN OUR £25,000 JACKPOT!' })|raw}}</h2>
                        <h3 class="strapline  feature__strapline">{{widget('content', 'strapline', { content: 'Tickets are just £2. The draw closes at 17:00 every Friday and the draw takes place every Saturday at 17:45 GMT. Winners will be notified following each draw.' })|raw}}</h3>

                        
                        <a href="/#play"><button class="button  button--primary  feature__button  js-feature-btn">PLAY NOW!</button></a>

                        
                        
                    </div>
                    <div class="bk-zone column columns-two-right">
                        {{widget('image', 'clientlogo', {'src': asset('images/logoholder.jpg')})|raw}}
                    </div>
                </div>
            </div>
        </div>