<!-- Section: Hero 1 -->
<div class="hero  hero-header--1">

	<!-- Header -->
	<header class="header  header--transparent  header--1">
		<div class="container">
			<div class="row  row--sb  row--aic">

				<div class="header__item  header__item--logo">
					{{widget('logo', 'site-logo', {
					  'defaultlogo': asset('images/placeholder-logo--trans.svg')
					})|raw}}
				</div>

				<div class="header__item  header__item--navigation">
					<nav class="site-nav">
						<ul class="site-nav__list">
							<li class="nav-list__item">
								<a href="https://myclubdraw.zaffo.com/example-club-page#about" class="nav-list__link  {% if page.title == "ABOUT MCD" %}  nav-list__link--selected{% endif %}">About MCD</a>
							</li>
							<li class="nav-list__item">
								<a href="/results" class="nav-list__link  {% if page.title == "RESULTS" %}  nav-list__link--selected{% endif %}">This month’s prizes – Last month’s winners</a>
							</li>
							<li class="nav-list__item">
								<a href="/news" target="_blank" class="nav-list__link  {% if page.title == "NEWS" %}  nav-list__link--selected{% endif %}">News</a>
							</li>
							<li class="nav-list__item">
								<a href="https://secure.zaffo.com/admin/login" target="_blank" class="nav-list__link  {% if page.title == "CLUB ADMIN" %}  nav-list__link--selected{% endif %}">Club Admin</a>
							</li>						
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>


	<!-- Feature -->
	{{widget('feature', 'header-hero1-feature2', {
		'header': 'Win up to £25,000 in our weekly lottery!',
		'strapline': 'Grassroots sports clubs across the UK have teamed up with i-Giv. to offer an innovative online lottery that helps them raise much needed funds. There are incredible weekly cash prizes up for grabs and at least 50% of proceeds from every ticket sold goes directly to clubs, so play now!',
		'defaultBgImg': asset('images/pat99.jpg'),
		'showBtn': true,
		'buttonText': 'CHOOSE A SPORTS CLUB TO BENEFIT',
		'action': 'internal',
		'url': '#play'
	})|raw}}


</div>