<!-- Section: Hero 1 -->
<div class="">
<!-- Header -->
	<header class="header  header--transparent  header--1">
		<div class="container">
			<div class="row  row--sb  row--aic">

				<div class="header__item  header__item--logo">
					{{widget('logo', 'site-logo', {
					  'defaultlogo': asset('images/mcdlogo.png')
					})|raw}}
				</div>
				<div class="header__item  header__item--navigation">					
	
                	<nav class="navbar navbar-expand-sm   navbar-light bg-light  site-nav">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                              <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown dmenu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                              About us
                            </a>
                            <div class="dropdown-menu sm-menu">
                              <a class="dropdown-item" href="/cic">SportSupport CIC</a>
                              <a class="dropdown-item" href="/engagement">Our Engagement Partners</a>                               
                              <a class="dropdown-item" href="/faq-club">FAQ's</a>
                              <a class="dropdown-item" href="/sponsors">Our Sponsors</a>
                            </div>
                          </li>
                          <li class="nav-item dropdown dmenu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                              This month's prizes - last month's winner
                            </a>
                            <div class="dropdown-menu sm-menu">
                              <a class="dropdown-item" href="/results">This month's prizes</a>
                              <a class="dropdown-item" href="/winners">This month's winners</a>
                            </div>
                          </li>                          
                          <li class="nav-item dropdown dmenu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                              News
                            </a>
                            <div class="dropdown-menu sm-menu">
                              <a class="dropdown-item" href="/news">News stories</a>
                              <a class="dropdown-item" href="/national-winners">National winners</a>
                            </div>
                          </li>                           
                          <li class="nav-item">
                              <a class="nav-link" href="/upload">Club sign up</a>
                          </li>                          
                          
                          </ul>
                        </div>
                    </nav>
		        </div>			
				</div>
			</div>
		</div>
	</header>
</div>