<div class="container">

    <!-- Container -->
    <!-- Page Content -->
    <section class="template-content">

        <!-- Main Widet Zone -->
        {{zone()|raw}}
        
        {{widget('content', 'mterms', {
          content: '
<p><strong>MCD. LOTTERY MEMBER TERMS AND CONDITIONS</strong></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">These Terms are subject to change and were last updated on 24th May 2017.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The following terms and conditions (“the Member Terms“) and the attached Annexures set out the basis upon which a Participating Member (as defined below) may (subject to acceptance by MCD. (as defined below)) enter into an agreement with MCD. to participate as a member in the MCD. Lottery (as defined below) (“the Agreement“).</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">By signing these terms you agree on behalf of the Participating Member that you represent that you have read these Member Terms, understand them and agree that the Participating Member shall be legally bound by them and you warrant to MCD. that you have the authority to enter into the Agreement on behalf of that Participating Member.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">You further acknowledge that by doing so, the Participating Member is making an offer to MCD. to enter into the Agreement subject to acceptance of Registration (as defined below) by MCD. and that MCD. reserves fully its rights to refuse any application.</span></p>
<p><span style="font-weight: 400;">Background and principal Objectives</span></p>
<p><span style="font-weight: 400;">(A) &nbsp;</span> <span style="font-weight: 400;">Capen Limited (“Capen“), a company registered in England and Wales (company number 8141955 (England)), an external lottery manager (certificate number 000-036257-R-317724-001) whose registered office is at B55, The Ugli Building, 56 Wood Lane, London, W12 7SB, administers and manages a remote society lottery (“‘Participating Member’ Lottery“) and may operate other Fundraising Events on the Lottery Site for MCD. as a tool to raise funds for the purpose of promoting grassroots sport for the benefit of communities in Wales. Capen is the External Lottery Manager (as defined under the Gambling Act 2005) and is contracted to run the Lottery for MCD.</span></p>
<p><span style="font-weight: 400;">(B) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Lottery is promoted and operated by MCD. Limited, a company limited by guarantee is registered in England &nbsp;and Wales whose &nbsp;company number is 10581387, whose registered office is at 27 North Street, Ebbw Vale, NP23 5RF, and who is licensed by Blaenau Gwent County Borough Council to promote the Lottery under a Small Society Lottery Licence, no. 052 (“the Society”).</span></p>
<p><span style="font-weight: 400;">(D) &nbsp;</span> <span style="font-weight: 400;">This Lottery and the Lottery Site have been set up in such a way as to allow Participating Members to run a microsite, hosted by Capen, through which the Participating Member’s members and supporters can participate in the Lottery. Participating Members will receive a portion of the sums paid by members entering the Lottery through the Member Site which may be used for the Participating Member’s Permitted Purposes (as defined below).</span></p>
<ol>
<li><span style="font-weight: 400;"> Definitions and interpretation</span></li>
</ol>
<p><span style="font-weight: 400;">1.1 &nbsp;In this Agreement the following terms shall have the following meanings:</span></p>
<table>
<tbody>
<tr>
<td><span style="font-weight: 400;">Acceptance Date</span></td>
<td><span style="font-weight: 400;">Means the time of acceptance of Registration by (or on behalf of) MCD.;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Agreement</span></td>
<td><span style="font-weight: 400;">Has the meaning set out above;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">AUP</span></td>
<td><span style="font-weight: 400;">Means the acceptable use policy relating to the use of the MCD. Lottery Site and the Member Site as revised from time to time (the current version of which is available at https://myclubdraw.co.uk/);</span></td>
</tr>
<tr>
<td></td>
<td><span style="font-weight: 400;">Means the terms and conditions governing the applicable Fundraising Event(s) (and which will be made available at https://myclubdraw.co.uk/);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Confidential Information</span></td>
<td><span style="font-weight: 400;">Means any information relating to the subject matter of the Agreement including the existence and terms of the Agreement, User Data and other information relating to business, statistical and financial matters which is disclosed by one Party (“Disclosing Party“) to the other Party (“Recipient“) which is either marked ‘Confidential’ or ought reasonably to be considered as confidential;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Data Controller</span></td>
<td><span style="font-weight: 400;">Has the meaning given in the Data Protection Act 1998 (as amended from time to time);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Data Processor</span></td>
<td><span style="font-weight: 400;">Has the meaning given in the Data Protection Act 1998 (as amended from time to time);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">End User Terms</span></td>
<td><span style="font-weight: 400;">Means the terms and conditions governing the use of this Lottery Site and the Member Site (and incorporating the AUP) as revised from time to time (the current version of which is available at https://myclubdraw.co.uk);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Entrant</span></td>
<td><span style="font-weight: 400;">Means an individual entrant to the Lottery, having purchased one or more tickets through the Participating Member Site;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Fundraising Event</span><p></p>
<p><span style="font-weight: 400;">Fundraising Event</span></p>
<p><span style="font-weight: 400;">Terms and Conditions</span></p></td>
<td><span style="font-weight: 400;">Means a prize competition or free draw or other promotion operated through the Lottery Site (and excluding the Lottery);</span><p></p>
<p><span style="font-weight: 400;">Means the terms and conditions governing the applicable Fundraising Event(s) (and which will be made available at https://myclubdraw.co.uk);</span></p></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Member Lottery Site</span></td>
<td><span style="font-weight: 400;">Means the website located at URL https://myclubdraw.co.uk;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Member Lottery</span></td>
<td><span style="font-weight: 400;">the weekly remote lottery promoted by MCD.;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Intellectual Property Rights</span></td>
<td><span style="font-weight: 400;">Means all copyright, patents, trademarks, service marks, design rights, rights in databases, moral rights, and other intellectual property rights in each case whether registered or unregistered and including any applications for the foregoing and all other similar rights anywhere in the world and the term “Intellectual Property” shall be construed as the subject matter of Intellectual Property Rights;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Lottery</span></td>
<td><span style="font-weight: 400;">Means the remote society lottery promoted by MCD. and operated through the Lottery Site, including the Participating Member Site;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Lottery Terms and Conditions</span></td>
<td><span style="font-weight: 400;">Means the terms and conditions governing the Lottery as revised from time to time (the current version of which is available at https://myclubdraw.co.uk);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Marks</span></td>
<td><span style="font-weight: 400;">Means in relation to a Party, the trade marks, trade names, logos, signs and devices of that Party, in the case of MCD. as set out in Annex 2 and in the case of Participating Charities, any trademarks, trade names, logos, signs and devices owned by a Participating Member or by a third party which the Participating Member provides to MCD. for use in connection with the Lottery;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Materials</span></td>
<td><span style="font-weight: 400;">Means in relation to a Party, all materials created by or on behalf of that Party in relation to which the Party owns (or is licensed to use, other than under these Member Terms) the Intellectual Property in any medium whatsoever, owned by or licensed to that Party, in the case of MCD. and in the case of Participating Charities, any materials owned by a Participating Member or by a third party which the Participating Member provides to MCD. for use in connection with the Lottery;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Member Proceeds</span></td>
<td><span style="font-weight: 400;">means the monetary proceeds received by MCD. from Entrants who enter the Lottery through the Member Site;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Member Site</span></td>
<td><span style="font-weight: 400;">Has the meaning given in term 3.1;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Member Sums</span></td>
<td><span style="font-weight: 400;">Means the share of the Member Proceeds payable to the Participating Member in respect of the applicable month of the Term as calculated under Annex 2 (which is subject to amendment under term 7.4) and, for the avoidance of doubt, excludes Member Proceeds in respect of which the Entrant has not nominated the Participating Member to be the recipient of the revenue share;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Participating Member</span></td>
<td><span style="font-weight: 400;">Means Such community groups, voluntary bodies and charities as may be authorised by MCD. to benefit from MCD. Lottery and receive funding pursuant to this Agreement;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Party</span></td>
<td><span style="font-weight: 400;">Means a party to this Agreement (and “Parties” shall be construed accordingly);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Permitted Purpose</span></td>
<td><span style="font-weight: 400;">Means use of the Member Sums to promote the Participating Member (as stated in the Registration or otherwise agreed with MCD.);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Prize</span></td>
<td><span style="font-weight: 400;">Means the Lottery’s weekly cash prizes which are allocated and distributed in accordance with the Lottery Terms and Conditions;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Promoter</span></td>
<td><span style="font-weight: 400;">MCD. is licensed by Blaenau Gwent County Borough Council to promote the Lottery under a Small Society Lottery Licence, no. 052. The person responsible at MCD. is Dale Evans, 27 North Street, Ebbw Vale, NP23 5RF.</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Registration</span></td>
<td><span style="font-weight: 400;">Means the process by which an organisation that wishes to become a Participating Member provides registration information to MCD. through the Lottery Site; and “acceptance of Registration” means any acceptance of the Registration by MCD. , such process being completed when MCD. (in its absolute discretion) sends written confirmation to the applicant organisation that its application for Registration has been accepted;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Term</span></td>
<td><span style="font-weight: 400;">Means the Initial Term and all Renewal Periods (which has the meaning given in term 2.1);</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Territory</span></td>
<td><span style="font-weight: 400;">Means the United Kingdom;</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">User</span></td>
<td><span style="font-weight: 400;">Means either an Entrant or other visitor to the Member Site; and</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">User Data</span></td>
<td><span style="font-weight: 400;">Means personal data (as defined in the Data Protection Act 1998) and other information relating to a User.</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">In these Member Terms:</span></p>
<p><span style="font-weight: 400;">1.2 </span> <span style="font-weight: 400;">Term headings are used for ease of reference only and shall not affect their interpretation.</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">References to terms and annexures are to terms of and annexures to these Member Terms.</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Words denoting the singular shall include the plural and vice versa. Words importing one gender include every gender.</span></p>
<p><span style="font-weight: 400;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">References to persons include an individual, company, corporation, firm, partnership, unincorporated association and any other form of entity.</span></p>
<p><span style="font-weight: 400;">(d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">References to any statute, enactment, order, regulation or other similar instrument shall be construed as a reference to it as from time to time amended, consolidated or re-enacted and includes all instruments or orders made under such enactment.</span></p>
<p><span style="font-weight: 400;">1.3 &nbsp;In the event of any conflict or ambiguity in the provisions of these Member Terms and the annexures, the Member Terms shall take precedence.</span></p>
<ol start="2">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Terms and registrations</span></li>
</ol>
<p><span style="font-weight: 400;">2.1 &nbsp;The Agreement shall take effect on the Acceptance Date and continue in force for a term of one (1) year (“Initial Term”) and then be automatically renewed on expiry of the Initial Term for a period of twelve (12) months (“Renewal Period”) or at the end of a Renewal Period for further Renewal Periods unless and until terminated earlier under term 15 (“the Term”).</span></p>
<p><span style="font-weight: 400;">2.2 &nbsp;For the avoidance of doubt, MCD. reserves fully its rights to refuse any application to Register to become a Participating Member.</span></p>
<p><span style="font-weight: 400;">2.3 &nbsp;Without prejudice to the generality of term 2.2, the organisation seeking to become a Participating Member acknowledges and agrees that MCD. may discuss the Registration application of the applicant organisation (and, if accepted, the on-going activities of the applicant organisation) with the national governing body to which the applicant organisation is affiliated.</span></p>
<ol start="3">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The member site</span></li>
</ol>
<p><span style="font-weight: 400;">3.1 &nbsp;Subject to the compliance of the Participating Member with these Member Terms, MCD. shall host a micro-site on the Lottery Site meeting the functionality requirements set out in Part 1 of Annex 1 (“the Member Site”) for the Term.</span></p>
<p><span style="font-weight: 400;">3.2 &nbsp;The Member Site will (subject to terms 3.3 and 8.2 and the Participating Member’s compliance with term 5) incorporate the Participating Member’s Marks and Materials.</span></p>
<p><span style="font-weight: 400;">3.3 &nbsp;The Participating Member acknowledges and agrees that MCD. shall (subject to the approval requirements under term 8.2) have full editorial control over the content on the Member Site.</span></p>
<p><span style="font-weight: 400;">3.4 &nbsp;The Participating Member acknowledges and agrees that (without prejudice to the generality of term 12) MCD. may in its reasonable discretion suspend access to all or any part of the Member Site.</span></p>
<p><span style="font-weight: 400;">3.5 &nbsp;MCD. will provide reasonable support in the use of the Member Site to the Participating Member in accordance with the provisions of Part 3 of Annex 1.</span></p>
<p><span style="font-weight: 400;">3.6 &nbsp;Use of the Member Site by the Participating Member shall be subject to the terms of the AUP. Use of the Member Site and participation in the Fundraising Events and the Lottery by Users and Entrants shall be subject to the AUP, the End User Terms, the Fundraising Event Terms and Conditions and the Lottery Terms and Conditions. The Participating Member specifically acknowledges this and agrees that MCD. may in its reasonable discretion accept or reject the registration of any User, or any entry to any Fundraising Event or Lottery made by a proposed Entrant. The Participating Member further agrees that it will take all action required by MCD. in respect of enforcement of the AUP, the End User Terms, the Fundraising Event Terms and Conditions and the Lottery Terms and Conditions against the Users and Entrants.</span></p>
<ol start="4">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Payment and use of the member sums</span></li>
</ol>
<p><span style="font-weight: 400;">4.1 &nbsp;MCD. shall collect or arrange the collection of the Member Proceeds.</span></p>
<p><span style="font-weight: 400;">4.2 &nbsp;MCD. shall pay the Member Sums arising in respect of the Member Proceeds within 15 days of the end of the applicable month.</span></p>
<p><span style="font-weight: 400;">4.3 &nbsp;MCD. shall pay the Member Sums to the account of the Participating Member listed in the Registration or otherwise agreed between the Participating Member and MCD..</span></p>
<p><span style="font-weight: 400;">4.4 &nbsp;The Participating Member acknowledges and agrees that MCD. has not made any representation of the Member Sums being any guaranteed amount and that it is possible that the aggregate Member Sums may be zero.</span></p>
<p><span style="font-weight: 400;">4.5 &nbsp;The Participating Member undertakes to MCD. to ensure that all Member Sums are used solely for the Permitted Purpose and to comply with the obligations of term 4.6 in order for MCD. to verify this. Without prejudice to the provisions of term 12, MCD. shall be entitled to withhold any Member Sums in the event that it is not satisfied that the Participating Member has complied fully with its obligations under this term 4.5.</span></p>
<p><span style="font-weight: 400;">4.6 &nbsp;Without prejudice to the audit provisions under term 11 (which shall apply at any time during the Term and following its expiry), the Participating Member shall provide a statement to MCD. not later than 30 days after the end of every calendar year in the Term setting out the uses that have been made of any Member Sums received in that year.</span></p>
<p><span style="font-weight: 400;">4.7 &nbsp;Any breach by the Participating Member of the provisions of terms 4.5 and 4.6 shall constitute a material breach of these Member Terms for the purposes of term 15.1(a).</span></p>
<ol start="5">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The fundraising events and the lottery</span></li>
</ol>
<p><span style="font-weight: 400;">5.1 &nbsp;The content and dates of all Fundraising Events shall be as determined by MCD. in its sole discretion and shall be subject to the Fundraising Event Terms and Conditions.</span></p>
<p><span style="font-weight: 400;">5.2 &nbsp;The dates of the Lottery shall be as determined by MCD. in its sole discretion and shall be subject to the Lottery Terms and Conditions.</span></p>
<p><span style="font-weight: 400;">5.3 &nbsp;The Participating Member agrees to, at its own cost, promote the Fundraising Events and the Lottery to such extent (if any) as MCD. may require (and subject always to the provisions of term 8). Such promotion may include (a) sending an email to all persons within the Participating Member’s marketing database who have consented to receive marketing emails of that kind; and (b) including a link to the Member Site and/or the Lottery Site from the Participating Member’s own main website.</span></p>
<ol start="6">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Participating member obligations in respect of registration</span></li>
</ol>
<p><span style="font-weight: 400;">6.1 &nbsp;The Participating Member shall provide to MCD. in the format reasonably required by MCD.:</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">evidence that the Participating Member meets the membership criteria;</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">the Participating Member’s Materials which the Participating Member wishes to be included on the Member Site;</span></p>
<p><span style="font-weight: 400;">(c) website copy relating to the Participating Member’s involvement in the Lottery</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">graphical representations of the Participating Member’s Marks.</span></p>
<p><span style="font-weight: 400;">6.2 &nbsp;Any subsequent amendments to the Participating Member’s Materials and/or Marks shall be subject to the discretion of MCD. (and may be subject to a charge).</span></p>
<p><span style="font-weight: 400;">6.3 &nbsp;The Participating Member shall ensure that at all times the information provided by or on behalf of the Participating Member to MCD. (or any third party on behalf of MCD.) including (but not limited to) its Materials and Marks is accurate and up to date, complies with applicable laws and regulations and the AUP and does not infringe the Intellectual Property Rights or other rights of any person.</span></p>
<ol start="7">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Reporting Obligations in respect of the member sums</span></li>
</ol>
<p><span style="font-weight: 400;">7.1 &nbsp;MCD. shall provide or make available to the Participating Member a monthly report containing particulars of the Member Proceeds and Member Sums for that month and shall, on request, make available to an authorised officer of the Participating Member at a reasonable notice and at a reasonable time any books, documents or other records (howsoever kept) which relate to the calculation of the Member Proceeds and/or the Member Sums in accordance with term 11.</span></p>
<p><span style="font-weight: 400;">7.2 &nbsp;The percentage of the Member Proceeds calculated as the Member Sums is inclusive of VAT and, where VAT is required to be paid by applicable law on the Member Sums, the Participating Member shall be responsible for accounting to HMRC for the applicable amount of VAT. In such circumstances, MCD. shall provide a valid VAT invoice giving the necessary details of the taxable supply.</span></p>
<p><span style="font-weight: 400;">7.3 &nbsp;If any sum payable under these Member Terms which is not the subject of a bona fide dispute is not paid by the due date then the party to which payment is due reserves the right to charge interest at a rate of three (3) % per annum above the Bank of England base rate from time to time on any payment or part payment overdue calculated from the due date. Both parties acknowledge and agree that the interest payment set out in this term 7 is, in the context of the activities contemplated under these Member Terms, a “substantial remedy” for the purposes of the Late Payment of Commercial Debts (Interest) Act 1998 (as amended from time to time).</span></p>
<p><span style="font-weight: 400;">7.4 &nbsp;In the event that MCD. wishes to change the basis for calculating the Member Sums, MCD. shall give the Participating Member at least one (1) month’s prior written notice of the proposed changes. In the event that the Participating Member does not accept the proposed changes, the Participating Member shall within 30 days notify MCD., which notice shall be deemed to be notice to terminate the Agreement for convenience pursuant to term 15.3 provided that the proposed changes shall not take effect during the notice period. In the event that the Participating Member does not so notify MCD., the Participating Member is deemed to accept the revised Member Sums, which shall be effective on the day following the expiry of the one month notice period.</span></p>
<p><span style="font-weight: 400;">7.5 &nbsp;This Clause 7 shall survive termination of the Agreement.</span></p>
<ol start="8">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Intellectual Property</span></li>
</ol>
<p><span style="font-weight: 400;">8.1 &nbsp;Each Party (“Licensor“) grants to the other Party (“Licensee“) an irrevocable (except as set out in these Member Terms), royalty-free, non-transferable, non-exclusive licence (with no right to sub-licence) for the Term to use the Materials and Marks of the Licensor in the Territory to the extent set out in these Member Terms. In respect of MCD., these rights shall be limited to the Materials and Marks as set out in Annex 2 (as may be revised from time to time on notice to the Participating Member).</span></p>
<p><span style="font-weight: 400;">8.2 &nbsp;Each Party (“Using Party“) shall only use the Materials and Marks provided by the other Party (“Owning Party“) in good faith for the purposes of its rights and obligations in connection with the Lottery (only), without alteration, in strict accordance with guidelines or instructions of the Owning Party and for the sole benefit of the Owning Party.</span></p>
<p><span style="font-weight: 400;">8.3 &nbsp;The Using Party shall not challenge or assist others in challenging the validity of such Marks or attempt to register in any jurisdiction any confusingly similar marks.</span></p>
<p><span style="font-weight: 400;">8.4 &nbsp;Nothing in this Agreement shall operate to transfer title in the Owning Party’s Marks or Materials to the Using Party. Intellectual Property Rights in anything created by a Party during the Term shall be vested in that Party provided that ownership of the underlying Intellectual Property Rights incorporated in those materials shall belong to the Party owning the underlying Materials.</span></p>
<p><span style="font-weight: 400;">8.5 &nbsp;In the event that the Participating Member does not consent to a proposed use of its Materials and/or Marks by MCD., then MCD. shall consult with the Participating Member but shall be under no obligation to include the Materials and/or Marks in any format in the relevant marketing materials or on the Member Site. &nbsp;In circumstances where it is not possible for MCD. to perform its obligations under these Member Terms or otherwise in relation to the Lottery without the consent of the Participating Member, then the provisions of term 17 shall apply.</span></p>
<p><span style="font-weight: 400;">8.6 &nbsp;This term 8 shall survive termination of the Agreement.</span></p>
<ol start="9">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Data Protection</span></li>
</ol>
<p><span style="font-weight: 400;">9.1 &nbsp;The Parties agree that for the purposes of the Data Protection Act 1998 (as amended), MCD. shall (as between the Parties) be the Data Controller in respect of all User Data and the Participating Member shall be a Data Processor.</span></p>
<p><span style="font-weight: 400;">9.2 &nbsp;Without prejudice to term 9.1, the Participating Member acknowledges and agrees that it shall comply and shall procure the compliance of its personnel with (i) MCD. and (ii) the Data Protection Act (including in particular, but not limited to the requirements under Part II of Schedule 1 applying under the seventh principle) and the Privacy and Electronic Communications (EC Directive) Regulations 2003 in all uses of the User Data made in performing its rights and obligations under the Agreement.</span></p>
<p><span style="font-weight: 400;">9.3 &nbsp;This term 9 shall survive termination of the Agreement.</span></p>
<ol start="10">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Confidential</span></li>
</ol>
<p><span style="font-weight: 400;">10.1 &nbsp;Throughout the Term and following its expiry or termination, each Party shall and shall procure that each of its employees, subcontractors and agents to whom Confidential Information of the other Party is made available shall keep secret and treat in the strictest confidence all Confidential Information of the other Party (and its subcontractors and agents) and shall not use such Confidential Information except to implement its rights under these Member Terms.</span></p>
<p><span style="font-weight: 400;">10.2 &nbsp;The obligations under this term 10 shall not extend to any Confidential Information which the recipient can demonstrate to the reasonable satisfaction of the other Party that the information to be disclosed or used:</span></p>
<p><span style="font-weight: 400;">10.3 &nbsp;is required by law to be disclosed pursuant to an order from a court or other regulatory body having competent jurisdiction provided that the Recipient gives prompt notice to the Disclosing Party of such order or process prior to any disclosure and consults with the Disclosing Party on the advisability of seeking a protective order or other means to preserve the confidential treatment of the Confidential Information and the disclosure is the minimum amount required to comply with such order; or</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">is acquired from a third party who owes no obligation of confidentiality in respect of the relevant information; or</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">is or becomes generally available to the public other than as a result of a breach of this term 10.</span></p>
<ol start="11">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Audit</span></li>
</ol>
<p><span style="font-weight: 400;">11.1 &nbsp;Subject to terms 11.2 and 11.3, during the Term and for a period of 12 months thereafter (or such other period as is specified in the applicable Clause of these member Terms), each Party (“Audited Party”) shall give the other Party (“Auditing Party”) access to the relevant records which relate to the Auditing Party and this Agreement (collectively “Records”), to the extent reasonably necessary to enable the Auditing Party to fulfil any legal, statutory or other reporting obligations or to determine the Audited Party’s compliance with its obligations in respect of this Agreement.</span></p>
<p><span style="font-weight: 400;">11.2 &nbsp;The Auditing Party shall (and shall procure that its auditors shall) at all times when undertaking an audit, comply with the Audited Party’s reasonable security and confidentiality procedures, shall take all reasonable steps to minimise any disruption which may be caused to the Audited Party’s business by such audit.</span></p>
<p><span style="font-weight: 400;">11.3 &nbsp;&nbsp;The Audited Party shall provide the Auditing Party and/or its auditors with all reasonable assistance in exercising their right of audit.</span></p>
<p><span style="font-weight: 400;">11.4 &nbsp;Save to the extent required by applicable law or regulation, in respect of term 4 or as otherwise agreed between the Parties, audits conducted in accordance with this Clause 11 may only be conducted once in a 12 month period on normal business days and is subject to the Auditing Party providing the Audited Party with no less than thirty (30) days prior written notice of its intention to carry out an audit.</span></p>
<p><span style="font-weight: 400;">11.5 &nbsp;Should any inspection or review reveal that MCD’s invoices for the audited period are not correct, MCD. shall promptly pay the Participating Member for the amount of any underpayment or invoice the Participating Member for the amount of any overpayment.</span></p>
<p><span style="font-weight: 400;">11.6 &nbsp;Each Party shall bear its own internal costs of such audit provided that the reasonable costs of any third party engaged in relation to such audit shall be paid by the Auditing Party.</span></p>
<p><span style="font-weight: 400;">11.7 &nbsp;This term 11 shall survive termination of the Agreement.</span></p>
<ol start="12">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Disclaimer</span></li>
</ol>
<p><span style="font-weight: 400;">12.1 &nbsp;The Participating Member acknowledges and agrees that save to the extent expressed in these Member Terms and as permitted by applicable law, MCD. provides the Member Site on an ‘as is’ basis and MCD. makes no representations or warranties, either express or implied, of any kind:</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">with respect to the Member Site (including its operation, content, information or materials); or</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">that the Member Site will operate without interruption or be timely, secure or error free;</span></p>
<p><span style="font-weight: 400;">and that MCD. disclaims all warranties, express or implied, of any kind with respect to the Member Site and its use including but not limited to satisfactory quality, fitness for purpose, non-infringement and &nbsp;availability, to the maximum extent permitted by law.</span></p>
<p><span style="font-weight: 400;">12.2 &nbsp;This term 12 shall survive termination of the Agreement.</span></p>
<ol start="13">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Limitation of Liability</span></li>
</ol>
<p><span style="font-weight: 400;">13.1 &nbsp;Nothing in these Member Terms shall limit either Party’s liability for fraud, for death or personal injury caused by that Party’s negligence or the negligence of its employees or for any liability which cannot be excluded by applicable law.</span></p>
<p><span style="font-weight: 400;">13.2 &nbsp;Subject to term 13.1 above, neither Party shall be liable to the other Party for loss of data, loss of profits, loss of revenue, loss of goodwill or damage to reputation, loss of anticipated savings or for any indirect or consequential loss or damages.</span></p>
<p><span style="font-weight: 400;">13.3 &nbsp;Subject to term 13.1 above but excluding liability under term 14 and obligations to make payments under term 7 this Agreement, each Party’s aggregate liability to the other Party under this Agreement shall be limited to £2,000 per claim or series of claims to be capped at a maximum aggregate amount of £20,000.</span></p>
<p><span style="font-weight: 400;">13.4 &nbsp;This term 13 shall survive termination of the Agreement.</span></p>
<ol start="14">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Indemnities</span></li>
</ol>
<p><span style="font-weight: 400;">14.1 &nbsp;Subject to terms 14.2 and 14.3 below, each Party (the “Indemnifying Party”), shall at its own expense indemnify the other Party against all liabilities, costs, expenses, damages and losses (including but not limited to any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal costs (calculated on a full indemnity basis) and all other reasonable professional costs suffered by the other Party (the “Indemnified Party”) arising out of or in connection with (a) the infringement of any Intellectual Property Rights of any third party to the extent attributable to the authorised use by the Indemnified Party of Materials or Marks of the Indemnifying Party provided to the Indemnified Party; or (b) the Indemnifying Party’s failure to comply with all applicable laws, rules and regulations.</span></p>
<p><span style="font-weight: 400;">14.2 &nbsp;If circumstances arise which may reasonably be considered likely to give rise to a Claim), the Indemnified Party shall:</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">as soon as reasonably practicable, give written notice of the Claim to the Indemnifying Party specifying the nature of the Claim in reasonable detail;</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">not make any admission of liability, agreement or compromise in relation to the Claim without the prior written consent of the Indemnifying Party (such consent not to be unreasonably conditioned, withheld or delayed), provided that the Indemnified Party may settle the Claim (after giving prior written notice of the terms of settlement (to the extent legally possible) to the Indemnifying Party, but without obtaining the Indemnifying Party’s consent) if the Indemnified Party reasonably believes that failure to settle the Claim would be prejudicial to it in any material respect; and</span></p>
<p><span style="font-weight: 400;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">give the Indemnifying Party access at reasonable times (on reasonable prior notice) to its relevant accounts, documents and records so as to enable the Indemnifying Party and its professional advisers to examine them and to take copies (at the Indemnifying Party’s expense) for the purpose of assessing the Claim.</span></p>
<p><span style="font-weight: 400;">14.3 &nbsp;The Indemnified Party shall take reasonable steps to mitigate any loss or liability in respect of the Claim.</span></p>
<p><span style="font-weight: 400;">14.4 &nbsp;This term 14 shall survive termination of the Agreement.</span></p>
<ol start="15">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Termination</span></li>
</ol>
<p><span style="font-weight: 400;">15.1 &nbsp;Each Party may terminate the Agreement immediately by giving written notice to the other Party if:</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">the other Party commits a material breach of these Member Terms, provided that where such breach is capable of remedy the defaulting Party has been advised in writing of the breach and has not rectified it within thirty (30) days of receipt of such advice; or</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">the other Party goes into liquidation, becomes insolvent (i.e. unable to pay its debts in the ordinary course as they become due) or is the subject of any liquidation or insolvency proceeding which is not dismissed within ninety (90) days, makes an assignment or arrangement for the benefit of creditors, ceases or threatens to cease to carry on its business or its financial position otherwise deteriorates to such an extent that in the opinion of the other Party, its ability adequately to fulfil its obligations under the Agreement is placed in jeopardy.</span></p>
<p><span style="font-weight: 400;">15.2 &nbsp;MCD. shall also be entitled to terminate the Agreement immediately by written notice if the Participating Member ceases to be affiliated to the national governing body or otherwise loses its charitable status.</span></p>
<p><span style="font-weight: 400;">15.3 &nbsp;Each Party may also terminate this Agreement for convenience at any time during the Term by giving 3 months’ prior written notice to the other Party.</span></p>
<ol start="16">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consequences of Termination</span></li>
</ol>
<p><span style="font-weight: 400;">16.1 &nbsp;Upon expiry or termination of the Agreement for any reason:</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">all rights and obligations of the Parties shall cease to have effect immediately upon termination of this Agreement except that termination shall not affect the accrued rights and obligations of the Parties at the date of termination nor any provisions of these Member Terms that expressly or impliedly survive termination; and</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">each Party shall immediately pay to the other all amounts due under the Agreement; and</span></p>
<p><span style="font-weight: 400;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">each Party shall, at the request of the other Party, return to the other Party or destroy all Confidential Information received from such other Party; and</span></p>
<p><span style="font-weight: 400;">(d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">MCD. shall provide the Participating Member with copies of records retained by MCD. in relation to Entrants in compliance with HMRC audit requirements provided that MCD. shall continue to store such records to the extent necessary for its own regulatory compliance.</span></p>
<ol start="17">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Force Majeure</span></li>
</ol>
<p><span style="font-weight: 400;">17.1 &nbsp;Save for a Party’s obligations to make payments when due, neither Party shall be deemed to be in breach of the Agreement or have any liability to the other in so far as it is prevented from performing its obligations under the Agreement by reason of any circumstances beyond its reasonable control provided that the that the affected Party shall promptly notify the other Party in writing of the cause, the likely duration and its effect on the performance of the affected Party’s obligations under these Member Terms and take reasonable steps to mitigate the duration and effect of the circumstances on its performance of its obligations under the Agreement.</span></p>
<ol start="18">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Protection of customer funds</span></li>
</ol>
<p><span style="font-weight: 400;">18.1 Capen holds all customer funds in a separate client account on behalf of the societies we act for and these funds are transferred to MCD. on a regular basis. All remote operators licensed by the Gambling Commission have an obligation to hold separate accounts for proceeds. This is to protect the player in the event of an insolvency incident.</span></p>
<ol start="19">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">General</span></li>
</ol>
<p><span style="font-weight: 400;">19.1 &nbsp;These Member Terms together with the Annexures to them set out the entire agreement and understanding between the Parties in relation to their subject matter and supersedes all prior agreements, understandings or arrangements (oral or written) in respect of the subject matter of the Agreement.</span></p>
<p><span style="font-weight: 400;">19.2 &nbsp;Each Party acknowledges that it has entered into the Agreement in reliance only on the representations, warranties promises and terms contained in this Agreement and, save as expressly set out in the Agreement, each Party shall have no liability in respect of any other representation, warranty or promise made prior to the date of the Agreement unless it was made fraudulently.</span></p>
<p><span style="font-weight: 400;">19.3 &nbsp;The Agreement shall not be assigned, sub-contracted or otherwise transferred by the Participating Member without the prior written consent of MCD..</span></p>
<p><span style="font-weight: 400;">19.4 &nbsp;MCD. shall be entitled to sub-contract its obligations under the Agreement without notice to or the consent of the Participating Member.</span></p>
<p><span style="font-weight: 400;">19.5 &nbsp;&nbsp;</span> <span style="font-weight: 400;">Other than as set out in term 7.4 no purported variation of the Agreement shall be effective unless it is in writing and signed by or on behalf of each of the Parties.</span></p>
<p><span style="font-weight: 400;">19.6 &nbsp;To the extent that any provision of the Agreement is found by any court or competent authority to be invalid, unlawful or unenforceable in any jurisdiction, that provision shall be deemed not to be a part of the Agreement and it shall not affect the enforceability of the remainder of the Agreement. In such circumstances, the Parties shall seek, in good faith, to agree an amendment to the affected provision(s).</span></p>
<p><span style="font-weight: 400;">19.7 &nbsp;No single or partial exercise, or failure or delay in exercising any right, power or remedy by any Party shall constitute a waiver by that Party of, or impair or preclude any further exercise of, that or any right, power or remedy arising under the Agreement or otherwise.</span></p>
<p><span style="font-weight: 400;">19.8 &nbsp;No announcement concerning the terms of the Agreement shall be made by or on behalf of the Participating Member without the prior written consent of MCD., such consent not to be unreasonably withheld or delayed. The Participating Member acknowledges and agrees that MCD. shall be free to make any reasonable announcement regarding the Agreement, including naming the Participating Member as a participant in the MCD. Lottery.</span></p>
<p><span style="font-weight: 400;">19.9 &nbsp;The relationship between the Parties is that of independent contractors and nothing in the Agreement is intended to, or should be construed as creating, a partnership, agency, joint venture or employment relationship.</span></p>
<p><span style="font-weight: 400;">19.10 &nbsp;No term of the Agreement is enforceable pursuant to the Contracts (Rights of Third Parties) Act 1999 by any person who is not a Party to it.</span></p>
<p><span style="font-weight: 400;">19.11 &nbsp;Any notice to a Party under this Agreement shall be in writing signed by or on behalf of the Party giving it and shall, unless delivered to a Party personally, be left at, or sent by prepaid first class post or email to the address of the Party as set out in this term 18.11 or as otherwise notified in writing from time to time.</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">For notices to MCD.:</span></p>
<p><span style="font-weight: 400;">(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Postal address: MCD. 27 North Street, Ebbw Vale, NP23 5RF.</span></p>
<p><span style="font-weight: 400;">(ii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Email: enquiries@myclubdraw.co.uk</span></p>
<p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">For notices to the Participating Member, the address and email address set out in the Registration application.</span></p>
<p><span style="font-weight: 400;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">A notice shall be deemed to have been served:</span></p>
<p><span style="font-weight: 400;">(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">if delivered personally: at the time of delivery;</span></p>
<p><span style="font-weight: 400;">(ii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">if sent by prepaid first class post: forty-eight (48) hours after posting;</span></p>
<p><span style="font-weight: 400;">(iii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">if sent by email: two (2) hours after transmission (confirmed by a delivery confirmation);</span></p>
<p><span style="font-weight: 400;">But, in all cases, where delivery would otherwise be deemed to have occurred outside of the hours of 09:00 to 17:30 on a working day that is not a bank holiday, delivery shall instead be deemed to have been made at 09:00 on the next normal business day.</span></p>
<p><span style="font-weight: 400;">19.12 &nbsp;The Agreement shall be governed by and construed in accordance with English law. Each of the Parties irrevocably submits for all purposes in connection with the Agreement to the exclusive jurisdiction of the courts of England.</span></p>
<p><span style="font-weight: 400;">19.13 &nbsp;This term 18 shall survive termination of the Agreement.</span></p>
<p><span style="font-weight: 400;">Annex 1</span></p>
<p><span style="font-weight: 400;">THE MEMBER SITE</span></p>
<ol>
<li><span style="font-weight: 400;"> MEMBER SITE FUNCTIONALITY</span></li>
</ol>
<p><span style="font-weight: 400;">1.1 Entry to the Lottery</span></p>
<p><span style="font-weight: 400;">(a) The Member Site will include details of and enable Users to enter the Lottery by any of the payment methods set out in Paragraph 1.2(a).</span></p>
<p><span style="font-weight: 400;">(b) The winning Entrants shall be notified by or on behalf of MCD. in accordance with the Fundraising Event Terms and Conditions or Lottery Terms and Conditions (as applicable).</span></p>
<p><span style="font-weight: 400;">1.2 Payments</span></p>
<p><span style="font-weight: 400;">(a) Players may pay to enter the Lottery via credit card or debit card (or any other payment means that becomes available to the Society)</span></p>
<p><span style="font-weight: 400;">(b) The payments shall be held by or on behalf of MCD. and proceeds due to the Participating Member shall be paid to the bank account nominated during registration on a monthly basis.</span></p>
<p><span style="font-weight: 400;">1.4 User Management</span></p>
<p><span style="font-weight: 400;">(a) MCD. shall collect, maintain and hold a database of Users to include the following information: Title, First name, Last name, Email, Opt in/out election for Local Authority email.</span></p>
<ol start="2">
<li><span style="font-weight: 400;"> HOSTING</span></li>
</ol>
<p><span style="font-weight: 400;">2.1 Subject to the Participating Member’s compliance with Clause 8, MCD. shall include the Participating Member’s Materials and Marks on the Member Site.</span></p>
<ol start="3">
<li><span style="font-weight: 400;"> COMMUNICATIONS WITH USERS</span></li>
</ol>
<p><span style="font-weight: 400;">3.1 MCD. shall send an email to each Entrant following their registration on the Member Site.</span></p>
<p><span style="font-weight: 400;">3.2 MCD. shall respond to enquiries from Users/Entrants in relation to the Lottery only and shall refer to the Participating Member all other enquiries that it receives in relation to the Participating Member. MCD’s responses shall be by email during normal working hours.</span></p>
<p><span style="font-weight: 400;">3.3 MCD. may use the Participating Member’s Marks for use in marketing campaigns through the Affiliate Network to promote the Lottery.</span></p>
<ol start="4">
<li><span style="font-weight: 400;"> WEBSITE LINK</span></li>
</ol>
<p><span style="font-weight: 400;">4.1 MCD. may, in its sole discretion, include a link from its home page or other pages on the Lottery or the Member Site to one or more pages on the Participating Member’s website.</span></p>
<p><span style="font-weight: 400;">Annex 2</span></p>
' })|raw}}
        
    </section>
    <!-- End Page Content -->
 </div>   

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->

{% include "includes/footer.twig" %}
