<div class="container">
    <!-- Container -->
    <!-- Page Content -->
    <section class="template-content">

        {{zone()|raw}}

        {{widget('content', 'privacy', {
          content: '
<p><span style="font-weight: 400;">The protection of personal data is of paramount importance. When you entrust your personal data to us, we go to great lengths to ensure that personal data is held securely and used only for the purposes which you have agreed to.</span></p>
<p><span style="font-weight: 400;">In this Privacy Policy we explain the things which we think are important for you to know about the personal data we collect from you, the purposes for which we use your information and how we protect your data.</span></p>
<p><span style="font-weight: 400;">We also mention some of the rights you have in relation to your personal data. Finally, there’s a bit about cookies – what they are and how to get rid of them if you don’t want them.</span></p>
<p><span style="font-weight: 400;">If you have any questions relating to how we handle your personal data to administer the draw, please email&nbsp;</span><a href="mailto:support@capen.co.uk"><span style="font-weight: 400;">support@zaffo.com</span></a><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>What we use your personal data for</b></p>
<p><span style="font-weight: 400;">We only use your personal data for the following purposes:</span></p>
<ul>
<li><span style="font-weight: 400;"> To provide our services (including draw and donation facilities) to you and to administer user records;</span></li>
<li><span style="font-weight: 400;"> To process transactions between us including the purchase of tickets to the draw;</span></li>
<li><span style="font-weight: 400;"> To arrange for fulfilment of prizes;</span></li>
<li><span style="font-weight: 400;"> Where you opt in to receiving news and fundraising updates via email.</span></li>
</ul>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>Who we can disclose your personal data to</b></p>
<p><span style="font-weight: 400;">We will not disclose your personal information to anyone save for the following purposes:</span></p>
<p><span style="font-weight: 400;">We will disclose your personal data to law enforcement agencies or regulatory bodies if we believe that you are involved in any illegal or harmful conduct or if we are required to do so by law or we believe that such action is necessary to:</span></p>
<p><span style="font-weight: 400;">(i) comply with the law or with legal process;</span></p>
<p><span style="font-weight: 400;">(ii) protect and defend our rights and property or that of our customers;</span></p>
<p><span style="font-weight: 400;">(iii) prevent fraud;</span></p>
<p><span style="font-weight: 400;">(iv) protect against abuse, misuse or unauthorised use of our website;</span></p>
<p><span style="font-weight: 400;">(v) protect the personal safety or property of our customers or the public;</span></p>
<p><span style="font-weight: 400;">We may employ other companies to provide services for us, including for example, processing of payments in order for us to be able to provide our services to you. These companies have access to the personal information needed to perform their functions and not for any other purposes and are bound by confidentiality agreements not to disclose any information for any other purpose.</span></p>
<p><span style="font-weight: 400;">If at any time we wish to disclose your personal data in circumstances other than those above, we will always obtain your consent before doing so.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>Cookies &amp; sessions</b></p>
<p><span style="font-weight: 400;">What is a cookie or session? A cookie is a text string of information that a website transfers to the cookie file of the browser on your computer’s hard disk (or the memory of your mobile device) so that the website can remember who you are. A cookie will typically contain the name of the domain from which the cookie has come, the “lifetime” of the cookie, and a value, usually a randomly generated unique number.</span></p>
<p><span style="font-weight: 400;">We may use cookies to record information about how you access our website for statistics solely for us, sponsors and affiliate advertisers. To the extent that these cookies contain personally identifying data, this will be limited to IP addresses only. You can choose not to accept cookies by setting the preferences on your internet browser. If you do not accept cookies from us this may impair or prevent some or all of the services which we provide to you.</span></p>
<p><span style="font-weight: 400;">To find out more about cookies, what they are used for and how to remove them, please visit the Interactive Advertising Bureau Europe’s website at&nbsp;</span><a href="http://www.allaboutcookies.org/cookies/"><span style="font-weight: 400;">www.allaboutcookies.org/cookies/</span></a><span style="font-weight: 400;">.</span></p>
<p>&nbsp;</p>
<p><b>Information</b></p>
<p><span style="font-weight: 400;">If you have any questions regarding your personal data, please contact us at&nbsp;</span><a href="mailto:support@capen.co.uk"><span style="font-weight: 400;">support@zaffo.com</span></a><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>Your rights in relation to your personal data</b></p>
<p><span style="font-weight: 400;">You can request to see your personal data which we hold. If you believe that any of your personal data we hold is incorrect then you can request that we amend your personal data. You can also request that we delete some or all of your personal data which we will do on your request save where we are required by law to keep records.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>Our safekeeping of your data</b></p>
<p><span style="font-weight: 400;">We will periodically evaluate your personal data which we hold to determine whether we should continue to hold it. We have implemented all appropriate technical, organisational and security procedures to protect your personal data from unauthorised access or from accidental loss or corruption. Please note that our storage of your personal data is incidental to our provision of our services to you and does not absolve you of your responsibility to back up your important information.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>How to unsubscribe</b></p>
<p><span style="font-weight: 400;">We are committed to protecting the privacy of participants. Personal information that is collected from participants is used lawfully in accordance with Data Protection legislation Data Protection Act 1988. As well as processing your Draw entries, The Society may also use your information to contact you via email with news and fundraising updates if you opt in to receiving these. In providing your information to us, you consent to us, or the Society, using your information for these purposes. If you do not wish to be contacted in this way, please email us at </span><a href="mailto:support@zaffo.com"><span style="font-weight: 400;">support@zaffo.co</span><span style="font-weight: 400;">m.</span></a></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>Revisions to this Privacy Policy</b></p>
<p><span style="font-weight: 400;">We may change this Privacy Policy from time to time. If we make any material changes we will place a notice on our website and such changes will be posted on this page in order that you are always aware of the information we collect, how we use it and under what circumstances we disclose it.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><b>Your Consent</b></p>
<p><span style="font-weight: 400;">By using this site you consent to our collection and use of your personal data for the purposes set out above.</span></p>'
                })|raw}}

    </section>
    <!-- End Page Content -->
 </div>   

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->
{% include "includes/footer.twig" %}
