<div class="container">

    <!-- Container -->
    <!-- Page Content -->
    <section class="template-content">

        <!-- Main Widet Zone -->
        {{zone()|raw}}
        
        {{widget('content', 'rules', {
          content: '

<h4><b>Lottery Rules</b></h4>
<p>&nbsp;</p>
<p><b> These Rules are subject to change and were last updated on Wednesday 24th May 2017.</b></p>
<p><span style="font-weight: 400;">These Rules, together with any specific terms or conditions explained or notified by the Society as relevant to this lottery (whether displayed in promotional materials for this lottery or otherwise) apply to your participation in the Lottery.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">By entering the Lottery, you agree to be bound by these Rules, the Privacy Policy and, where applicable, the Social Responsibility Guidelines (each of which can be found and downloaded from https://myclubdraw.co.uk/). Each entrant should retain a copy of these Rules for their reference. If you do not agree to comply with these various Rules, Policies or Procedures please do not enter the Lottery.</span></p>
<p><span style="font-weight: 400;"> &nbsp;</span></p>
<ol>
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Introduction</span></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">1.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">This Raffle is being promoted by and on behalf of MCD Limited, a company limited by guarantee is registered in England &nbsp;and Wales whose &nbsp;company number is 10581387, whose registered office is at 27 North Street, Ebbw Vale, NP23 5RF (“the Society”).</span></p>
<p><span style="font-weight: 400;">1.2</span> <span style="font-weight: 400;">The person responsible at MCD. is Dale Evans, 27 North Street, Ebbw Vale, NP23 5RF (“the Promoter”).</span></p>
<p><span style="font-weight: 400;">1.3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">This Lottery is managed externally by Capen Limited, a company registered in England and Wales with company number 08141955 and whose registered office is at B55, The Ugli Building, 56 Wood Lane, London, W12 7SB. (“Capen”).</span></p>
<p><span style="font-weight: 400;">1.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Society and Capen are licensed by the Gambling Commission and the Local Authority to promote and operate the Lottery in accordance with the provisions of the Gambling Act 2005. Capen is licensed by the UK Gambling Commission as an external lottery manager with licence number (Type F, Remote) (000-036257-R-317724-001); The Society is licensed by Blaenau Gwent County Borough Council to promote the Lottery under a Small Society Lottery Licence, no. 052.</span></p>
<p><span style="font-weight: 400;">1.5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Society reserves the right to suspend, cancel or amend the &nbsp;Lottery or these Rules at any time without prior notice. Any such changes will be posted on the Website before they take effect.</span></p>
<p><span style="font-weight: 400;">1.6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Lottery is a weekly lottery in which players can win cash prizes of £25,000, £1000, £100 and £10. Each month there will be a Second Chance draw to win £25,000 with a further £25,000 to the player’s nominated good cause. In addition there will be a monthly draw to win a bonus prize</span><span style="font-weight: 400;">.</span></p>
<ol start="2">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eligibility</span></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">2.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Entrants to the Lottery must be resident in the United Kingdom. &nbsp;Entrants are required to provide to the Society their name, date of birth, address and email address</span></p>
<p><span style="font-weight: 400;">2.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">To enter the Lottery you must be aged 16 (sixteen) or over. Any entrant found to be under 16 years of age at the time of entry automatically forfeits the right to any Prize and will have their stake refunded. Checks will be carried out to verify the age of participants. &nbsp;This may include references to credit agencies.</span></p>
<p><span style="font-weight: 400;">2.3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Directors or employees of Capen; or anyone who is professionally connected with the Lottery in any way is ineligible to enter.</span></p>
<p><span style="font-weight: 400;">2.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The eligibility of any entrant is at the sole discretion of the Society, which reserves the right to disqualify or decline to accept the entry of any entrant if it has reasonable grounds to believe the entrant has breached any of these Rules or otherwise acted fraudulently. Ineligible entrants will not be entitled to receive a Prize, and any Prize awarded to an ineligible entrant may be revoked (if not received) or must be returned (if already received).</span></p>
<ol start="3">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lottery Draw</span></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">3.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Draw process is based upon the results of the first six digits of Germany’s Spiel 77 lottery which is drawn every Saturday at 18:45 CET and the results are published on the website (</span><a href="http://www.lotterypost.com/game/326"><span style="font-weight: 400;">http://www.lotterypost.com/game/326</span></a><span style="font-weight: 400;">). The Winning Number for each weekly draw shall be the six-digit number generated as follows:</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">the Winning Number shall be the first six digits (in the same order) of the Germany’s Spiel 77 lottery which is drawn every Saturday at 18:45 CET.</span></p>
<p><span style="font-weight: 400;">3.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">In order to comply with the 2005 Gambling Act only those Chances for which payment has been received are eligible for entry into the Draw.</span></p>
<p><span style="font-weight: 400;">3.3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">In the event that the German Spiel 77 lottery as described in Rule 4.1 does not occur or is declared void on a single occasion then the Winning Number shall be determined in the same way but from an alternative lottery game. Details of such an occurrence will be published on the Voluntary Lottery website.</span></p>
<p><span style="font-weight: 400;">3.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">In the event that the Draw process in Rule 4.1 ceases to occur or is subject to fundamental change which prevents a Winning Number being selected then Capen reserves the right to select an alternative Draw process. Such an alternative Draw process would be selected on the basis that the basic principles of the Draw as described in Rule 4.1 would continue and the basic principles of how winners would be selected would continue as described in Rule 6. Such changes will be published on the Voluntary Lottery website.</span></p>
<p><span style="font-weight: 400;">3.5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Capen and the Lottery are not related in any way to Germany’s Spiel 77 lottery or any other organisation involved in the operation of the Spiel 77 lottery.</span></p>
<p><span style="font-weight: 400;">3.6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The approximate winning probabilities are summarised below</span></p>
<p><span style="font-weight: 400;">(a) Six Number Match 1 in 1,000,000 </span></p>
<p><span style="font-weight: 400;">(b) Five Number Match 1 in 55,556 </span></p>
<p><span style="font-weight: 400;">(c) Four Number Match 1 in 5,556</span></p>
<p><span style="font-weight: 400;">(d) Three Number Match 1 in 556</span></p>
<ol start="4">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entries</span></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">4.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Lottery is held each week</span></p>
<p><span style="font-weight: 400;">4.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">A six digit Game Number will be issued to entrants and, if an email address is available, an electronic ticket sent to the player. If no email address is available the player’s ticket will be sent by post. The six digit Game Number is unique to each individual chance purchased.</span></p>
<p><span style="font-weight: 400;">4.3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Tickets (entries) are £1 and can be purchased by Direct Debit from the Website.</span></p>
<p><span style="font-weight: 400;">4.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">No participant may purchase more than 100 tickets in any week.</span></p>
<p><span style="font-weight: 400;">4.5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">All ticket (entry) sales are final and, subject to Clause 3.2, no refunds shall be made at any time.</span></p>
<p><span style="font-weight: 400;">4.6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Only tickets for which full payment has been received are eligible for entry.</span></p>
<p><span style="font-weight: 400;">4.7</span> <span style="font-weight: 400;">Direct Debit payments are taken one month in advance, and take a minimum of 14 days to process; you will be entered into the first available draw after the collection has been made from your bank account. You will be notified of your first draw date by email or post.</span></p>
<p><span style="font-weight: 400;">4.8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each week tickets purchased between 17:01 pm on a Friday and 17:00 pm on the following Friday shall be included in the draw that is held on the following Saturday. &nbsp;The Society shall decide whether or not an entry was received in time for inclusion in any lottery draw.</span></p>
<p><span style="font-weight: 400;">4.9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Lost, delayed or incomplete entries (caused by corruption of data transmission or otherwise) will not be accepted and the Society does not take responsibility for entries that are lost, delayed or not received for any reason. </span></p>
<p><span style="font-weight: 400;">4.10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">All participants acknowledge that their payment of £1 per ticket to enter the Lottery does not guarantee that they will win any Prize.</span></p>
<p><span style="font-weight: 400;">4.11 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Information (including personal information) submitted in an entry will, unless specifically stated otherwise, be used by the Society in accordance with the Privacy Policy. By entering the Lottery, entrants consent to the use of their name being supplied in accordance with Rule 7.3.</span></p>
<ol start="5">
<li><span style="font-weight: 400;">Prizes</span></li>
</ol>
<p><span style="font-weight: 400;">5.1. </span> <span style="font-weight: 400;">Prize winners will be determined by whether a player’s Game Number relating to an entry in the Lottery matches all or some of the Winning Number as described in Rule 3.1 and dependent that the entry relating to the Game Number in question complies with Rule 3.2.</span></p>
<p><span style="font-weight: 400;">(a) If all six digits of the Game Number match the Winning Number in the same positions then this is a “6</span></p>
<p><span style="font-weight: 400;">Number Match”. e.g. if the Game Number is 123456 and the Winning Number is 123456 this is a “6 number match”</span></p>
<p><span style="font-weight: 400;">(b) If five digits of the Game Number match the first or last five digits of the Winning Number and their positions in the Game Number match their positions in the Winning Number then this is a “5 Number Match” e.g. if the Game Number is 123456 and the Winning Number is 123452 this is a “5 number match” as follows 12345X; if the Game Number is 123456 and the Winning Number is 523456 this is a “5 number match” as follows X23456</span></p>
<p><span style="font-weight: 400;">(c) If four digits of the Game Number match the first or last four digits of the Winning Number and their positions match then this is a “4 Number Match” e.g. if the Game Number is 123456 &nbsp;and the Winning Number is 123465 this is a “4 number match” as follows 1234XX; if the Game Number is 123456 &nbsp;and the Winning Number is 213456 this is a “4 number match” as follows XX3456</span></p>
<p><span style="font-weight: 400;">(d) If three digits of the Game Number match the first or last three digits of the Winning Number and their positions match then this is a “3 Number Match” e.g. if the Game Number is 123456 and the Winning Number is 123654 this is a “3 number match” as follows 123XXX; if the Game Number is 123456 and the Winning Number is 321456 this is a “3 number match” as follows XXX456</span></p>
<p><span style="font-weight: 400;">5.2. </span> <span style="font-weight: 400;">Prizes are issued as follows;</span></p>
<p><span style="font-weight: 400;">(a) &nbsp;For a 6 Number Match, the prize will be £25,000 to the player</span></p>
<p><span style="font-weight: 400;"> (b) For a 5 Number Match, the prize will be £1,000</span></p>
<p><span style="font-weight: 400;">(c) For a 4 Number Match, the prize will be £100</span></p>
<p><span style="font-weight: 400;">(d) For a 3 Number Match, the prize will be £10</span></p>
<p><span style="font-weight: 400;">5.3. </span> <span style="font-weight: 400;">Each Game Number shall only be entitled to win one prize in one Draw. The prize won will relate to the highest Number Match to which the Game Number matches.</span></p>
<p><span style="font-weight: 400;">5.4. </span> <span style="font-weight: 400;">The results of each Draw will be published on the Website.</span></p>
<p><span style="font-weight: 400;">5.5. </span> <span style="font-weight: 400;">The names of prize­winners may be announced </span><span style="font-weight: 400;">on </span><span style="font-weight: 400;">the Website.</span></p>
<p><span style="font-weight: 400;">5.6. </span> <span style="font-weight: 400;">Prize­winners will be notified by email or post (using the details held by the Society or, if different, the details supplied by the entrant in his or her entry) within 28 days of the relevant draw date.</span></p>
<p><span style="font-weight: 400;">5.7. </span> <span style="font-weight: 400;">Capen reserves the right to amend the prizes at any time. Any such changes will be published on the Website, at least one month prior to a change being made.</span></p>
<p><span style="font-weight: 400;">5.8. </span> <span style="font-weight: 400;">Winners of prizes of £100 and under may collect their prizes in one of the following means</span></p>
<p><span style="font-weight: 400;">(a) by BACS</span></p>
<p><span style="font-weight: 400;">(b) by any other payment means that may become available to the participating Society</span></p>
<p><span style="font-weight: 400;">5.9. </span> <span style="font-weight: 400;">Prizes in excess of £100 shall be paid on behalf of the Participating Society to the </span></p>
<p><span style="font-weight: 400;">Prize­-winner by cheque or BACS.</span></p>
<p><span style="font-weight: 400;">5.10. </span> <span style="font-weight: 400;">We will make all reasonable efforts to identify and contact winners, however, if a prize­ winner fails (for whatever reason) to claim their Prize within 60 days of receipt of the Society’s notification, the ticket will expire and the Prize will be forfeited.</span></p>
<p>&nbsp;</p>
<ol start="6">
<li><span style="font-weight: 400;"> Second Chance Monthly Draw</span></li>
</ol>
<p><span style="font-weight: 400;">6.1. </span> <span style="font-weight: 400;">Who will be entered in the Second Chance Draw:</span></p>
<p><span style="font-weight: 400;">(a) Players who have a recurring payment and are in the draw every week of a given calendar month, will qualify for one Second Chance Draw entry, which will be automatically redeemed on the first Wednesday of the following month using the same number.</span></p>
<p><span style="font-weight: 400;">(b) Players will only be eligible to win a maximum of £25,000 in respect of each ticket held; players who have won one or more £25,000 weekly jackpots in a given calendar month will not be eligible to win the Second Chance jackpot; Players who have won smaller weekly cash prizes will be eligible to win the Second Chance jackpot minus the value of the cash prizes they have won in that month.</span></p>
<p><span style="font-weight: 400;">6.2. </span> <span style="font-weight: 400;">The winning Second Chance Number will be drawn at random on the first Wednesday of the calendar month.</span></p>
<p><span style="font-weight: 400;">6.3. </span> <span style="font-weight: 400;">The holder of the winning Second Chance Number will win £25,000 provided they are eligible under the terms set out in clause 6.1; the good cause for which the player bought their winning ticket will also win £25,000, regardless of whether the player was eligible to win the £25,000 player jackpot</span></p>
<p><span style="font-weight: 400;">6.4 </span> <span style="font-weight: 400;">The Second Chance Monthly Draw process is based upon the results of the first six digits of Germany’s Spiel 77 lottery which is drawn every Wednesday at 18:45 CET and the results are published on the website (http://www.lotterypost.com/game/326). The Winning Number for each Second Chance monthly draw shall be the six­ digit number generated as follows:</span></p>
<p><span style="font-weight: 400;">(a) the Winning Number shall be the first six digits (in the same order) of the Germany’s Spiel 77 lottery which is drawn on the Wednesday before the first of every calendar month at 18:45 CET.</span></p>
<p><span style="font-weight: 400;">6.5. </span> <span style="font-weight: 400;">In the event that the German Spiel 77 lottery as described in Rule 6.4 does not occur or is declared void on a single occasion then the Winning Number shall be determined in the same way but from an alternative lottery game. Details of such an occurrence will be published on the Lottery Website.</span></p>
<p><span style="font-weight: 400;">6.6. </span> <span style="font-weight: 400;">In the event that the Draw process in Rule 6.4 ceases to occur or is subject to fundamental change which prevents a Winning Number being selected then Capen reserves the right to select an alternative Draw process. Such an alternative Draw process would be selected on the basis that the basic principles of the Draw as described in Rule 6.4 would continue and the basic principles of how winners would be selected would continue as described in Rule 5. Such changes will be published on the Lottery Website.</span></p>
<p><span style="font-weight: 400;">6.7. </span> <span style="font-weight: 400;">Capen and the Lottery are not related in any way to Germany’s Spiel 77 lottery or any other organisation involved in the operation of the Spiel 77 lottery.</span></p>
<p>&nbsp;</p>
<ol start="7">
<li><span style="font-weight: 400;"> Monthly Bonus Draw</span></li>
</ol>
<p><span style="font-weight: 400;">7.1. Who will be entered in the Bonus Draw:</span></p>
<p><span style="font-weight: 400;">(a) Players entering the lottery will get one monthly Bonus Draw entry per weekly Lottery entry played, multiplied by the number of Saturdays within each month.</span></p>
<p><span style="font-weight: 400;">7.3. The winning Bonus Game Number will be drawn at random on the first day of the month from all eligible players across all of Capen’s Zaffo lottery clients.</span></p>
<p><span style="font-weight: 400;">7.4. The holder of the winning Bonus Game Number will win that month’s bonus prize, which will be detailed on the Website.</span></p>
<p><span style="font-weight: 400;">7.5. Additional bonus prizes may from time to time be available to win by qualifying players. These additional bonus prizes and their draw dates will be advertised on the Website.</span></p>
<ol start="8">
<li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General</span></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">8.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Gambling. &nbsp;</span> <span style="font-weight: 400;">Entering this Lottery is a form of gambling. Entrants are encouraged to gamble sensibly. Please read the Social Responsibility Guidelines, which can be found on </span><span style="font-weight: 400;">the Website</span><span style="font-weight: 400;">. Our social responsibility policies cover our commitment to a fair and open draws policy and contain the procedures of how we handle &nbsp;players’ queries and complaints. It is our commitment to follow all guidelines for responsible gambling and best practice problem gambling procedures.</span></p>
<p><span style="font-weight: 400;">8.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Liability. &nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Society cannot accept any liability (other than for death or personal injury or other liabilities that cannot, as a matter of law, be excluded) for any damage, loss, costs, expenses or disappointment, whether direct or indirect, caused to or suffered by entrants in connection with this Lottery or as a result of entrants’ accepting or making use of any Prize. In particular, all entrants are solely responsible for providing and (where necessary) updating the Society with their accurate and up-to-date contact details and the Society will be in no way liable for any failure or inability to contact any entrant due to any errors, omissions or inaccuracies in the contact details that the entrant has provided.</span></p>
<p><span style="font-weight: 400;">8.3. </span> <span style="font-weight: 400;">Players closing their account. If a player closes their account with less than £1 remaining, &nbsp;the remaining balance will be transferred to the Charity.</span></p>
<p><span style="font-weight: 400;">8.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Disputes. &nbsp;&nbsp;</span> <span style="font-weight: 400;">In the event of any dispute regarding the Lottery, if the dispute cannot be resolved by the parties within 90 days, it will be referred to the Independent Betting Adjudication Service Limited, an independent third party. For further information please refer to the Complaints Policy, which can be found on </span><span style="font-weight: 400;">the Website</span><span style="font-weight: 400;">. </span></p>
<p><span style="font-weight: 400;">8.5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Law. These Rules and any non-contractual obligations connected to them shall be governed by and construed in accordance with the laws of England and Wales and, failing satisfactory resolution of any dispute in accordance with Rule 8.3, the UK courts shall have exclusive jurisdiction to settle any dispute which may arise under or in connection with them.</span></p>
<p><span style="font-weight: 400;">8.6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Severance. &nbsp;&nbsp;If any provision of these Rules is found to be invalid by any court having competent jurisdiction, the invalidity of that provision will not affect the validity of the remaining provisions of those terms, which shall remain in full force and effect.</span></p>

' })|raw}}
        
    </section>
    <!-- End Page Content -->
 </div>   

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->

{% include "includes/footer.twig" %}
