<div class="container">
    <!-- Container -->
    <!-- Page Content -->
    <section class="template-content">

        <!-- Main Widet Zone -->
        {{zone()|raw}}

        {{widget('content', 'social', { content: '
                
    <p><b>Social Responsibility Guidelines</b></p>
    <p><span style="font-weight: 400;">This lottery is being promoted by and on behalf of MCD Limited, a company limited by guarantee is registered in England &nbsp;and Wales whose &nbsp;company number is 10581387, whose registered office is at 27 North Street, Ebbw Vale, NP23 5RF. (“the Society”).</span></p>
    <p><span style="font-weight: 400;">The person responsible at MCD is Dale Evans, MCD, 27 North Street, Ebbw Vale, NP23 5RF and the Society is licensed by Blaenau Gwent County Borough Council to promote the Lottery under a Small Society Lottery Licence, no. 052.</span></p>
    <p><span style="font-weight: 400;">This Lottery is managed externally by Capen Limited, a company registered in England and Wales with company number 08141955 and whose registered office is at B55, The Ugli Building, 56 Wood Lane, London, W12 7SB. (“Capen”).</span></p>
    <p>&nbsp;</p>
    <p><b>Fair and open draws policy </b></p>
    <p><span style="font-weight: 400;">The draw will be made utilising a Random Number Generator (RNG) that has been tested and approved by an independent, Gambling Commission approved, third party test house or other draw process approved by Gambling Commission. </span></p>
    <p><b>Complaints Procedure</b></p>
    <p><span style="font-weight: 400;">Any complaints regarding the draw/s can be made directly to the Society via the contact details above. We will respond to initial complaints and queries within 2 working days of receipt of the complaint.</span></p>
    <p><span style="font-weight: 400;">If the complaint is not satisfactorily resolved, the matter will be escalated appropriately. Every complaint will be taken seriously and fully considered by the Society in order that a satisfactory resolution can be achieved.</span></p>
    <p><span style="font-weight: 400;">In the event that a satisfactory outcome can still not be reached, in accordance with the agreed protocol arranged on behalf of members by the Lotteries Council the matter will be referred to The Independent Betting Adjudication Service (IBAS), which acts as an impartial adjudicator on disputes that arise between gambling operators and their customers.</span></p>
    <ol>
        <li><span style="font-weight: 400;"> The player will be provided with IBAS referral details.</span></li>
    </ol>
    <p><span style="font-weight: 400;">iii. The outcome of IBAS intervention will be reported to the Gambling Commission.</span></p>
    <ol start="2005">
        <li><span style="font-weight: 400;"> The Society is operating a (Society Lottery) or (Prize Draw) under the Gambling Act 2005.</span></li>
    </ol>
    <p><b>Responsible gambling / problem gambling procedure</b></p>
    <p><span style="font-weight: 400;">Players can ask to be removed from our database so they do not receive further emails regarding draws.</span></p>
    <p><span style="font-weight: 400;">If you are having a problem then you can ask to be excluded from the site. There is also software that blocks access to all online gambling sites. See&nbsp;</span><a href="http://www.gamblock.com/index.html"><span style="font-weight: 400;">www.gamblock.com</span></a><span style="font-weight: 400;">&nbsp;or</span><a href="https://www.netnanny.com/"><span style="font-weight: 400;">www.netnanny.com</span></a><span style="font-weight: 400;">&nbsp;for more details.</span></p>
    <p><span style="font-weight: 400;">If you would like to exclude yourself from this draw and future Society draws, please email&nbsp;support@zaffo.com&nbsp;indicating your name using the following template:</span></p>
    <p><span style="font-weight: 400;">“I “name” request that I be refused entry to the Society draw and future Society draws. I understand that if I attempt to purchase a ticket, I will be refused.”</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><b>Problem gambling</b></p>
    <p><span style="font-weight: 400;">Gambling in moderation is okay, but problem gambling can take over your life. Remembering the following will help to keep gambling in check:</span></p>
    <ul>
        <li><span style="font-weight: 400;"> You’re buying for fun and helping a charity, not investing money</span></li>
        <li><span style="font-weight: 400;"> Set strict limits on how much time and money you’re going to spend, and only gamble what you can afford to lose</span></li>
        <li><span style="font-weight: 400;"> Quit while you’re ahead, and don’t chase your losses</span></li>
        <li><span style="font-weight: 400;"> Don’t gamble to escape from stress or boredom and keep up other interests and hobbies</span></li>
    </ul>
    <p><span style="font-weight: 400;">If you are concerned about your own gambling, or that of a friend or relative, then the following questions may offer you some help and guidance. Answering yes to some of these questions does not necessarily make you a problem gambler but may indicate a problem:</span></p>
    <ul>
        <li><span style="font-weight: 400;"> Do you sometimes spend more money and time on gambling than you can afford to?</span></li>
        <li><span style="font-weight: 400;"> Do you find it hard to stop or manage your gambling?</span></li>
        <li><span style="font-weight: 400;"> Do you have arguments with family or friends about money and gambling?</span></li>
        <li><span style="font-weight: 400;"> Do you always think or talk about gambling?</span></li>
        <li><span style="font-weight: 400;"> Do you lie about gambling or hide it from other people?</span></li>
        <li><span style="font-weight: 400;"> Do you chase losses or gamble to get out of financial trouble?</span></li>
        <li><span style="font-weight: 400;"> Do you gamble until all of your money is gone?</span></li>
        <li><span style="font-weight: 400;"> Do you borrow money, sell possessions or do not pay bills in order to pay for gambling?</span></li>
        <li><span style="font-weight: 400;"> Do you need to gamble with larger amounts of money or for a longer time to get the same feeling of excitement or buzz?</span></li>
        <li><span style="font-weight: 400;"> Do you neglect work, school, family, personal needs or household responsibilities because of gambling?</span></li>
        <li><span style="font-weight: 400;"> Do you feel anxious, worried, guilty, depressed or irritable because of gambling?</span></li>
        <li><span style="font-weight: 400;"> Do you consider or have considered and illegal act to finance your gambling?</span></li>
        <li><span style="font-weight: 400;"> Do you gamble to escape worry, trouble, boredom or loneliness?</span></li>
        <li><span style="font-weight: 400;"> Do you have difficulty sleeping because of gambling?</span></li>
    </ul>
    <p><span style="font-weight: 400;">Visit&nbsp;</span><a href="http://www.gambleaware.co.uk/"><span style="font-weight: 400;">www.gambleaware.co.uk</span></a><span style="font-weight: 400;">&nbsp;for more information and advice.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><b>Remote gambling</b></p>
    <p><span style="font-weight: 400;">Remote gambling includes gambling online, by interactive television or by mobile phone.The advice below is designed to help anyone gambling remotely:</span></p>
    <ul>
        <li><span style="font-weight: 400;"> Keep track of the time that you spend playing</span></li>
        <li><span style="font-weight: 400;"> Keep track of the amount you spend playing – remind yourself that it is real money!</span></li>
        <li><span style="font-weight: 400;"> Avoid chasing your losses</span></li>
        <li><span style="font-weight: 400;"> If you’re a parent keep your password safe and consider using software to block access to gambling sites from minors. You can find further information on blocking software here:</span><a href="http://www.gamcare.org.uk/get-advice/what-can-you-do/blocking-software#.VvvtZeIrLIV"><span style="font-weight: 400;">http://www.gamcare.org.uk/get-advice/what-can-you-do/blocking-software#.VvvtZeIrLIV</span></a></li>
        <li><span style="font-weight: 400;"> Look for sites with options where you can set your own spend and session limits, which can help you to control your gambling.</span></li>
    </ul>

        '})|raw}}


    </section>
    <!-- End Page Content -->
 </div>   

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->
{% include "includes/footer.twig" %}