<div class="container" id="prizes">
    <!-- Container -->
    <!--Default content-->
    	<!-- Page Content -->
    	<section class="template-content">
            {{zone()|raw}}   
    	</section>
 </div> 
 
 <!-- End Page Content -->

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->
    
 <!-- Footer for socila media profiles -->   
{% include "includes/footer.twig" %}
 <!-- End footer for socila media profiles -->  