<div class="container">
    <!-- Container -->
    <!-- Page Content -->
    <section class="template-content">

        <!-- Main Widet Zone -->
        {{widget('content', 'terms', { content: '
    <p><b>MCD. Lottery terms and conditions</b></p>
    <p><span style="font-weight: 400;">These End User Terms are subject to change and were last updated on 27th March 2017.</span></p>
    <p><span style="font-weight: 400;">Thank you for your interest in the MCD. Lottery (“the Lottery”). We want your experience to be a positive one and we have provided these terms and conditions (“Terms“) to set out the important information and rules relating to all Users’ use of it.</span></p>
    <p><span style="font-weight: 400;">Please ensure that you read these Terms carefully. By entering the Lottery you agree to be legally bound by these Terms, which incorporate the Acceptable Use Policy. If you do not wish to be bound by these Terms then you must not enter the Lottery.</span></p>
    <p><span style="font-weight: 400;">The MCD. Lottery is managed by Capen Limited (“Capen“), a company registered in England and Wales (company number 8141955 (England)), an external lottery manager (certificate number 000-036257-R-317724-001) whose registered office is at B55, The Ugli Building, 56 Wood Lane, London, W12 7SB. &nbsp;“Capen“, “us” or “we“) and your Agreement is with us. However, the Society (as defined below) shall be entitled to enforce any of the terms and conditions of these Terms.</span></p>
    <ol>
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Definitions</span></li>
    </ol>
    <p><span style="font-weight: 400;">In these Terms, the following words have the defined meanings as follows:</span></p>
    <p><span style="font-weight: 400;">‘Agreement’ Has the meaning given in Clause 11.4;</span></p>
    <p><span style="font-weight: 400;">‘AUP’ Means the Acceptable Use Policy relating to all use of the Website as revised from time to time (the current version of which is available at the following address, http://MCD.org;</span></p>
    <p><span style="font-weight: 400;">‘End User, you, your’ Means the end user of the Website and/or participator in the Lottery;</span></p>
    <p><span style="font-weight: 400;">‘MCD Lottery’ Means the Lottery and website run and managed by Capen Ltd, trading as Zaffo;</span></p>
    <p><span style="font-weight: 400;">‘Intellectual Property Rights’ Means patents, trademarks, service marks, design rights (whether registrable or otherwise), applications for any of the foregoing, copyright, database rights, trade or business names and other similar rights or obligations whether registrable or not in any country (including but not limited to the United Kingdom); means all copyright, patents, trademarks, service marks, design rights, rights in databases, moral rights, and other intellectual property rights in each case whether registered or unregistered and including any applications for the foregoing and all other similar rights anywhere in the world;</span></p>
    <p><span style="font-weight: 400;">‘Lottery’ Means the remote society lottery promoted by the Society;</span></p>
    <p><span style="font-weight: 400;">‘Lottery Rules’ Means the Rules governing the Lottery as revised from time to time (the current version of which is available at http://www.MCD.org/);</span></p>
    <p><span style="font-weight: 400;">‘Privacy Policy’ Means the policy which governs our collection and use of your personal data which can be found on the Website at the following address http://www.MCD.org/ and is also available on written request at our registered address;</span></p>
    <p><span style="font-weight: 400;">‘Society’ Means </span><span style="font-weight: 400;">MCD Limited, a company limited by guarantee is registered in England &nbsp;and Wales whose &nbsp;company number is 10581387, whose registered office is at 27 North Street, Ebbw Vale, NP23 5RF, and who is licensed by Blaenau Gwent County Borough Council to promote the Lottery under a Small Society Lottery Licence, no. 052 (“the Society”).</span></p>
    <p><span style="font-weight: 400;">‘Security Data’ has the meaning given in Clause 10.1;</span></p>
    <p><span style="font-weight: 400;">‘Third Party Content’ Means any material, information, data or other content which is owned or licensed by a third party;</span></p>
    <p><span style="font-weight: 400;">‘Website’ Means the website located at URL http://www.MCD.org/ and any microsite of the website.</span></p>
    <ol start="2">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Registration</span></li>
    </ol>
    <p><span style="font-weight: 400;">2.1 &nbsp;&nbsp;You acknowledge and agree that your application to register for the Lottery is subject to certain minimum requirements. The registration of all applications is subject to verification by us and we reserve the right to reject an application in our reasonable discretion without giving reasons.</span></p>
    <ol start="3">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Lottery</span></li>
    </ol>
    <p><span style="font-weight: 400;">3.1 &nbsp;If you have any questions or concerns about the Lottery then you should direct them to us via email at enquiries@MCD.org.</span></p>
    <p><span style="font-weight: 400;">3.2 &nbsp;We reserve the right to make changes or corrections, alter, suspend or discontinue all or any part of the Lottery or any related content. Any modifications or additions to the Lottery shall be subject to these Terms.</span></p>
    <p><span style="font-weight: 400;">3.3 &nbsp;The Services may include Third Party Content which may be subject to separate licenses from the relevant third party. You understand that we do not control or endorse Third Party Content. All such Third Party Content is published by us in good faith but to the extent permitted by applicable law we do not accept responsibility for the accuracy or content of it. We make no representations whatsoever about any other website which you may access through the Website or which may link to the Website and when you access such third party websites you understand and agree that they are independent from the Website and that we have no control over them and that they shall be subject to separate terms and conditions.</span></p>
    <ol start="4">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">The Lottery</span></li>
    </ol>
    <p><span style="font-weight: 400;">4.1 &nbsp;&nbsp;The Lottery shall be subject to the Lottery Terms and Conditions, which you must accept as a pre-condition of your entry. These will be made available at http://www.MCD.org/.</span></p>
    <p><span style="font-weight: 400;">4.2 &nbsp;Without prejudice to the generality of Clause 2.1, you acknowledge and agree that we may in our reasonable discretion accept or reject any entry to the Lottery. Where we do not for any reason accept an entry, we shall refund the entry amount we received for the purchase of the ticket(s) relating to the entry. We will not take the entry amount for entry unless your entry has been accepted.</span></p>
    <ol start="5">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Disclaimers</span></li>
    </ol>
    <p><span style="font-weight: 400;">5.1 &nbsp;Our warranties in relation to the Website and the Lottery are set out in full in Clause 8.2. We do not make any other promises or warranties about them (other than as must be inferred as a matter of law).</span></p>
    <p><span style="font-weight: 400;">5.2 This Clause 5 shall survive termination of the Agreement.</span></p>
    <ol start="6">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Limitation of Liability</span></li>
    </ol>
    <p><span style="font-weight: 400;">6.1 &nbsp;We will accept all liability if something we do involves fraud or causes death or personal injury where we have been negligent.</span></p>
    <p><span style="font-weight: 400;">6.2 We shall operate the Website and provide the Lottery with reasonable skill and care.</span></p>
    <p><span style="font-weight: 400;">6.3 &nbsp;We are responsible for losses you suffer as a result of us breaching these Terms only if the losses are a direct and foreseeable consequence of us breaking the Terms. Subject to Clause 8.1, such liability shall be further limited to the amounts which you have paid to us in relation to the Fundraising Events and the Lottery under these Terms in the 12 month period preceding the date of our breach. Losses are foreseeable where they could be contemplated by you and us at the time you register. We are not responsible for indirect losses which happen as a side effect of the main loss or damage and which are not foreseeable by you and us in this way. By way of example, we cannot foresee that any breach by us will cause you (a) loss of income or revenue; (b) loss of business; (c) loss of profits; or (d) loss of anticipated savings.</span></p>
    <p><span style="font-weight: 400;">6.4 &nbsp;You agree to indemnify us from any and all claims and liabilities (including legal fees) which arise from your breach of the Agreement.</span></p>
    <p><span style="font-weight: 400;">6.5 This Clause 6 shall survive termination of the Agreement.</span></p>
    <ol start="7">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Intellectual Property Rights</span></li>
    </ol>
    <p><span style="font-weight: 400;">7.1 &nbsp;All Intellectual Property Rights in and to the Website, the materials contained on it and the Lottery (including the trade marks, design, text, graphics and other content, interfaces and the selection and arrangement of the content, software and all other material) belongs to us or our licensors. All rights are reserved.</span></p>
    <p><span style="font-weight: 400;">7.2 &nbsp;We grant you a non-exclusive, royalty-free personal licence (with no right to sub-licence) to access and use the Website for your personal, private and non-commercial use.</span></p>
    <p><span style="font-weight: 400;">7.3 &nbsp;Except to the extent and in the circumstances expressly required to be permitted by us by law, you shall not modify, adapt, translate, copy, reproduce, republish, upload, post, transmit or distribute by any means or in any manner any material or information included on or incorporated in the Website, the materials contained on it or the Lottery including but not limited to text, graphics, video, messages, code and/or software without our prior written consent.</span></p>
    <p><span style="font-weight: 400;">7.4 &nbsp;This Clause 7 shall survive termination of the Agreement.</span></p>
    <ol start="8">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Data Protection</span></li>
    </ol>
    <p><span style="font-weight: 400;">8.1 &nbsp;You acknowledge that in order for us to receive your Registration and provide participation in the Lottery to you, we must collect certain personal data from you and process that data.</span></p>
    <p><span style="font-weight: 400;">8.2 &nbsp;Our collection and use of your personal data is governed by our Privacy Policy. Please read (and check amendments to) the privacy policy as it contains important details about how we collect and use your personal data.</span></p>
    <p><span style="font-weight: 400;">8.3 &nbsp;You expressly consent to our use of your personal data in accordance with the Privacy Policy (as may be revised from time to time).</span></p>
    <p><span style="font-weight: 400;">8.4 &nbsp;This Clause 8 shall survive termination of the Agreement.</span></p>
    <ol start="9">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Termination</span></li>
    </ol>
    <p><span style="font-weight: 400;">9.1 &nbsp;We may terminate or suspend the Agreement and your participation in the Lottery at any time.</span></p>
    <p><span style="font-weight: 400;">9.2 &nbsp;Upon termination of the Agreement, all rights and obligations of you and us shall cease to have effect immediately except that termination shall not affect the accrued rights and obligations of either of us at the date of termination nor any provisions of these Terms that expressly or impliedly survive termination.</span></p>
    <ol start="10">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">Protection of customer funds</span></li>
    </ol>
    <p><span style="font-weight: 400;">10.1 &nbsp;Capen holds all customer funds in a separate client account on behalf of the societies we act for and these funds are transferred to the society on a regular basis. All remote operators licensed by the Gambling Commission have an obligation to hold separate accounts for proceeds. This is to protect the player in the event of an insolvency incident.</span></p>
    <ol start="11">
        <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">General</span></li>
    </ol>
    <p><span style="font-weight: 400;">11.1 &nbsp;If any provision of these Terms is held to be unlawful, invalid or unenforceable, that provision shall be deemed severed and the validity and enforceability of the remaining provisions of these Terms shall not be affected.</span></p>
    <p><span style="font-weight: 400;">11.2 &nbsp;&nbsp;If we fail to enforce a right under these Terms, that failure will not prevent us from enforcing other rights or the same type of right on a later occasion.</span></p>
    <p><span style="font-weight: 400;">11.3 &nbsp;Without limiting Sections 5 (Disclaimers) and 6 (Liability), we do not take responsibility for any event which is outside our reasonable control, including but not limited to the failure, malfunction or unavailability of telecommunications data communications and/or computer services, power supply failures or shortages, acts or omissions of third parties including but not limited to network operators), acts of government or regulators nor for any consequential loss arising from such an event.</span></p>
    <p><span style="font-weight: 400;">11.4 &nbsp;These Terms, together with the Acceptable use Policy, the Privacy Policy, and the Lottery Rules (collectively the “Agreement”) constitute the whole agreement between you and us in relation to the subject matter and supersedes any and all prior agreements between you and us. You acknowledge that you have not entered into this Agreement in reliance on any statement, warranty or representation made by us or any other person and you irrevocably and unconditionally waive any right to claim damages and/or to rescind these Terms by reason of any misrepresentation (other than a fraudulent misrepresentation) that is not contained in the Agreement. We may in our absolute discretion modify this Agreement from time to time and post the new version on the Website, following which all use of the Lottery shall be governed by the amended Agreement.</span></p>
    <p><span style="font-weight: 400;">11.5 &nbsp;You are not permitted to assign the Agreement. We may assign, transfer or subcontract any of our rights or obligations under this Agreement without notice to you.</span></p>
    <p><span style="font-weight: 400;">11.6 &nbsp;Of the terms of this Agreement shall be enforceable by Capen Ltd and the Society. No other person who is not a party to it may enforce the terms of the Agreement. The Contracts (Rights of Third Parties) Act 1999 shall be construed accordingly.</span></p>
    <p><span style="font-weight: 400;">11.7 &nbsp;All notices shall be given:</span></p>
    <p><span style="font-weight: 400;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">to us via email at enquiries@MCD.org or by post to our registered address as set out above; or</span></p>
    <p><span style="font-weight: 400;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span style="font-weight: 400;">to you at either the email or postal address you provide during the registration process.</span></p>
    <p><span style="font-weight: 400;">Notice will be deemed received when an email is received in full (or on the next business day if it is received outside on 09:00 to 17:30 on a weekday that is not a bank holiday) or 3 days after the date of posting (or, where this falls other than on a weekday that is not a bank holiday, on the next working day).</span></p>
    <p><span style="font-weight: 400;">11.8 Your payment will be processed by Capen Ltd Trading as Zaffo.com and your bank statement will include the following information “Zaffo.com-ZaffoCharity 0203 096 6265”</span></p>
    <p><span style="font-weight: 400;">11.9 &nbsp;The Agreement is governed by and construed in accordance with English law. The parties submit to the non­exclusive jurisdiction of the English courts.</span></p>
    <p><span style="font-weight: 400;">11.10 &nbsp;This Clause 11 shall survive termination of the Agreement.</span></p>'})|raw}}
    

            {{zone()|raw}}  
    </section>
    <!-- End Page Content -->
 </div>   

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->
{% include "includes/footer.twig" %}
