<!-- Section: Hero 1 -->
<div class="hero  hero-header--1">
	<!-- Header -->
	<header class="header  header--transparent  header--1">
		<div class="container">
			<div class="row  row--sb  row--aic">

                <div class="header__item  header__item--logo">
    				<div id="page-zones__template-widgets__logo-site-logo" class="widget  widget--template-widget" data-widget-type="logo" data-uniqueid="page-zones__template-widgets__logo-site-logo">
                        <div class="bk-logo  logo  widget__logo" itemscope="" itemtype="https://schema.org/Organization">
                            <a href="/home" class="logo-link  logo__logo-link" itemprop="url">
                                <img class="logo-image  logo__logo-image" alt="logo" title="logo" src="//d1se4t4tzjp7kt.cloudfront.net/ea2c1ef/templates/8cf8fb6202085fb25e2b70eb39b70d84/images/mcdlogo.png" itemprop="logo">
                            </a>
                        </div>
                    </div>
				</div>
				<div class="header__item  header__item--navigation">					
	
                	<nav class="navbar navbar-expand-sm   navbar-light bg-light  site-nav">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                              <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/#about">
                              About MCD
                            </a>
                          </li>
                          <li class="nav-item dropdown dmenu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                              This month's prizes - last month's winner
                            </a>
                            <div class="dropdown-menu sm-menu">
                              <a class="dropdown-item" href="/results">This month's prizes</a>
                              <a class="dropdown-item" href="/winners">This month's winners</a>
                            </div>
                          </li>                          
                          <li class="nav-item">
                            <a class="nav-link" href="/news" target="_blank">
                              News
                            </a>
                          </li>                           
                          <li class="nav-item">
                              <a class="nav-link" href="https://secure.zaffo.com/admin/login" target="_blank">Club admin</a>
                          </li>                          
                          
                          </ul>
                        </div>
                    </nav>
		        </div>		
				</div>
			</div>
		</div>
	</header>
	<!-- Feature -->
	{{widget('feature', 'header-hero1-feature', {
		'header': 'Support Hoddesdon Cricket Club: win local, national and non-cash prizes!',
		'strapline': 'Tickets are £5 and there is a guaranteed winner from our club every month.',
		'defaultBgImg': asset('images/hero.jpg'),
		'showBtn': true,
		'buttonText': 'Play now!',
		'action': 'internal',
		'url': '#play'
	})|raw}}


</div>